/* ===================common css==================== */
* {
  padding: 0;
  margin: 0;
}

/* =====================google font=============== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* =====================google font=============== */

body {
  font-family: "Poppins", sans-serif !important;
  background: #eeedde;
}

.container {
  max-width: 1166px;
}

/* ===================common css==================== */
/* ===================navbar css start==================== */
.navbar {
  padding-top: 50px;
}

nav ul .nav-list {
  font-size: 16px;
  font-weight: 400;
  color: #203239;
  margin-left: 100px;
  position: relative;
}

nav ul .nav-list::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #f6762e;
  border-radius: 5px;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.4s;
}

nav ul .nav-list:hover::after {
  width: 45%;
}

/* ===================navbar css end==================== */
/* ===================bannar css start==================== */
#bannar {
  padding-top: 91px;
  padding-bottom: 125px;
}

.bannar-text-area {
  padding-top: 82px;
}

.bannar-text-area h1 {
  font-size: 56px;
  font-weight: 600;
  line-height: 150%;
  color: #203239;
}

.bannar-text-area p {
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  width: 500px;
  color: rgba(31, 50, 56, 0.55);
  margin-top: 11px;
}

.bannar-rigt-input input {
  width: 508px;
  height: 70px;
  padding: 0 56px;
  border: none;
  border-radius: 15px;
  background: #ffffff;
}

.bannar-rigt-input input::placeholder {
  font-weight: 300;
  font-size: 16px;
  color: rgba(31, 50, 56, 0.55);
}

.bannar-rigt-input {
  position: relative;
  margin-top: 38px;
}

.bannar-rigt-input .location {
  font-size: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}

.bannar-rigt-input button {
  font-size: 16px;
  font-weight: 300;
  color: rgba(31, 50, 56, 0.55);
  background: #ffffff;
  width: 138px;
  height: 70px;
  border: none;
  border-radius: 15px;
  margin-left: 15px;
}

/* ===================bannar css end==================== */
/* ===================Properti css start==================== */

#Properti {
  background: #ffffff;
  padding: 100px;
}
.Properti-top h2 {
  font-size: 36px;
  font-weight: 600;
  color: #203239;
  width: 533px;
  padding-bottom: 64px;
}
.Properti-item {
  width: 300px;
  height: 300px;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 20px 0 20px 33px;
}
.Properti-item:hover {
  border: 1px solid #eeedde;
}
.text-title .titleone {
  font-size: 16px;
  font-weight: 600;
  color: #203239;
  position: relative;
}
.text-title .titleone::after {
  content: "01";
  font-size: 16px;
  font-weight: 600;
  color: #ff7527;
  position: absolute;
  right: 10px;
}
.text-title .titleone::before {
  content: "";
  width: 8px;
  height: 30px;
  border-radius: 10px;
  background: #f6762e;
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
}
.text-title .titleTwo {
  font-size: 16px;
  font-weight: 600;
  color: #203239;
  position: relative;
}
.text-title .titleTwo::after {
  content: "02";
  font-size: 16px;
  font-weight: 600;
  color: #ff7527;
  position: absolute;
  right: 10px;
}
.text-title .titleTwo::before {
  content: "";
  width: 8px;
  height: 30px;
  border-radius: 10px;
  background: #f6762e;
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
}
.text-title .titlethree {
  font-size: 16px;
  font-weight: 600;
  color: #203239;
  position: relative;
}
.text-title .titlethree::after {
  content: "03";
  font-size: 16px;
  font-weight: 600;
  color: #ff7527;
  position: absolute;
  right: 10px;
}
.text-title .titlethree::before {
  content: "";
  width: 8px;
  height: 30px;
  border-radius: 10px;
  background: #f6762e;
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
}
.text-title p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: rgba(32, 50, 57, 55%);
  width: 235px;
  margin: 0;
}
.text-title a {
  font-size: 16px;
  font-weight: 600;
  color: #203239;
  text-decoration: none;
  margin-top: 55px;
  display: inline-block;
}
.text-title a .arrowRight {
  margin-left: 8px;
}
/* ===================Properti css end==================== */
/* ===================Residen css Start==================== */
#Residen {
  background: #eeedde;
  padding-top: 68px;
  padding-bottom: 163px;
}
.Residen-title h6 {
  font-size: 16px;
  font-weight: 600;
  color: #ff7527;
}
.Residen-title h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 150%;
}
.Residen-main-box {
  margin-top: 72px;
}
.Residen-img {
  position: relative;
}
.Residen-img .upperimg {
  position: absolute;
  top: 64px;
  left: 165px;
}
.Residen-text-area {
  margin-top: 39px;
}
.Residen-text-area h2 {
  width: 507px;
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  color: #203239;
}
.Residen-text-area p {
  width: 570px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 1px;
  color: #203239;
  margin-top: 24px;
}
.Residen-inputs {
  margin-top: 48px;
}
.Residen-inputs button {
  font-weight: 600;
  font-size: 16px;
  color: #203239;
  padding: 13px 41px;
  border: 2px solid #203239;
  border-radius: 10px;
  background: transparent;
}
.Residen-inputs button:hover {
  background: #203239;
  color: #eeedde;
  transition: 0.4s;
}
.Residen-inputs .faphone {
  margin-right: 12px;
}
.Residen-inputs .Explore {
  margin-left: 49px;
}
/* ===================Residen css end==================== */
/* ===================Kota css start==================== */
#Kota {
  padding: 76px 0;
  background: #ffffff;
}
.kota-title h4 {
  font-weight: 500;
  font-size: 16px;
  color: #ff7527;
}
.kota-title h2 {
  font-weight: 600;
  font-size: 36px;
  color: #203239;
  line-height: 150%;
}
.kota-item {
  margin-top: 64px;
}

.kota-item h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #203239;
  margin-top: 16px;
}
.kota-item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #203239;
  margin-top: 8px;
}
/* ===================Kota css end==================== */
/* ===================Kami css start==================== */
#Kami {
  padding: 48px 0;
  background: #eeedde;
}
.Kami-title h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 150%;
  color: #203239;
}
.kami-icons i {
  font-size: 34px;
  color: #203239;
  font-weight: 600;
}
.kami-number h6 {
  font-size: 16px;
  font-weight: 500;
  color: #203239;
}
.kami-number h5 {
  font-size: 16px;
  font-weight: 400;
  color: #203239;
}
.kami-btn button {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background: #203239;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 10px 18px;
  margin-top: 27px;
  text-transform: uppercase;
}
.kami-btn button:hover {
  background: #ffffff;
  color: #203239;
  border: 1px solid #203239;
}
.kami-right img {
  margin-top: 64px;
}
/* ===================Kami css end==================== */
/* ===================footer css start==================== */
footer {
  background: #203239;
  padding: 31px 0;
}

.footer-icons i {
  font-size: 24px;
  color: #eeedde;
}
/* ===================footer css end==================== */
